<a href="https://colab.research.google.com/github/zeynepaycan/pyspark-tutorial/blob/main/Pyspark_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setting up PySpark in Colab

In [ ]:
# innstall java
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

# install spark (change the version number if needed)
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz

# unzip the spark file to the current folder
!tar xf spark-3.0.0-bin-hadoop3.2.tgz

# set your spark folder to your system path environment. 
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"


# install findspark using pip
!pip install -q findspark

In [ ]:
import findspark
findspark.init()

In [ ]:
findspark.find()

'/content/spark-3.0.0-bin-hadoop3.2'

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [ ]:
spark

In [ ]:
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip ngrok-stable-linux-amd64.zip
get_ipython().system_raw('./ngrok http 4050 &')
!curl -s http://localhost:4040/api/tunnels

--2021-08-17 09:54:01--  https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
Resolving bin.equinox.io (bin.equinox.io)... 54.210.185.64, 50.16.95.25, 34.192.220.41, ...
Connecting to bin.equinox.io (bin.equinox.io)|54.210.185.64|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13832437 (13M) [application/octet-stream]
Saving to: ‘ngrok-stable-linux-amd64.zip’

ngrok-stable-linux- 100%[===================>]  13.19M  63.9MB/s    in 0.2s

2021-08-17 09:54:02 (63.9 MB/s) - ‘ngrok-stable-linux-amd64.zip’ saved [13832437/13832437]

Archive:  ngrok-stable-linux-amd64.zip
  inflating: ngrok
{"tunnels":[],"uri":"/api/tunnels"}

# Loading data into PySpark

In [ ]:
df = spark.read.csv("apple_products.csv", header=True, inferSchema=True)

# Data Exploration with PySpark DF

**Show column details**

In [ ]:
df.printSchema()

root
 |-- Product Name: string (nullable = true)
 |-- Product URL: string (nullable = true)
 |-- Brand: string (nullable = true)
 |-- Sale Price: integer (nullable = true)
 |-- Mrp: integer (nullable = true)
 |-- Discount Percentage: integer (nullable = true)
 |-- Number Of Ratings: integer (nullable = true)
 |-- Number Of Reviews: integer (nullable = true)
 |-- Upc: string (nullable = true)
 |-- Star Rating: double (nullable = true)
 |-- Ram: string (nullable = true)

**Display Rows**

In [ ]:
df.show(5)

+--------------------+--------------------+-----+----------+-----+-------------------+-----------------+-----------------+----------------+-----------+----+
|        Product Name|         Product URL|Brand|Sale Price|  Mrp|Discount Percentage|Number Of Ratings|Number Of Reviews|             Upc|Star Rating| Ram|
+--------------------+--------------------+-----+----------+-----+-------------------+-----------------+-----------------+----------------+-----------+----+
|APPLE iPhone 8 Pl...|https://www.flipk...|Apple|     49900|49900|                  0|             3431|              356|MOBEXRGV7EHHTGUH|        4.6|2 GB|
|APPLE iPhone 8 Pl...|https://www.flipk...|Apple|     84900|84900|                  0|             3431|              356|MOBEXRGVAC6TJT4F|        4.6|2 GB|
|APPLE iPhone 8 Pl...|https://www.flipk...|Apple|     84900|84900|                  0|             3431|              356|MOBEXRGVGETABXWZ|        4.6|2 GB|
|APPLE iPhone 8 (S...|https://www.flipk...|Apple|     77000|77000|                  0|            11202|              794|MOBEXRGVMZWUHCBA|        4.5|2 GB|
|APPLE iPhone 8 (G...|https://www.flipk...|Apple|     77000|77000|                  0|            11202|              794|MOBEXRGVPK7PFEJZ|        4.5|2 GB|
+--------------------+--------------------+-----+----------+-----+-------------------+-----------------+-----------------+----------------+-----------+----+
only showing top 5 rows

**Number of rows in DF**

In [ ]:
df.count()

62

**Display specific columns**

In [ ]:
df.select("Product Name","Sale Price").show(5)

+--------------------+----------+
|        Product Name|Sale Price|
+--------------------+----------+
|APPLE iPhone 8 Pl...|     49900|
|APPLE iPhone 8 Pl...|     84900|
|APPLE iPhone 8 Pl...|     84900|
|APPLE iPhone 8 (S...|     77000|
|APPLE iPhone 8 (G...|     77000|
+--------------------+----------+
only showing top 5 rows

**Describing the columns**

In [ ]:
df.describe().show()

+-------+--------------------+--------------------+-----+-----------------+------------------+-------------------+-----------------+------------------+----------------+-------------------+----+
|summary|        Product Name|         Product URL|Brand|       Sale Price|               Mrp|Discount Percentage|Number Of Ratings| Number Of Reviews|             Upc|        Star Rating| Ram|
+-------+--------------------+--------------------+-----+-----------------+------------------+-------------------+-----------------+------------------+----------------+-------------------+----+
|  count|                  62|                  62|   62|               62|                62|                 62|               62|                62|              62|                 62|  62|
|   mean|                null|                null| null| 80073.8870967742| 88058.06451612903|  9.951612903225806|22420.40322580645|1861.6774193548388|            null|  4.575806451612904|null|
| stddev|                null|                null| null|34310.44613243489|34728.825596901945|  7.608079009076823|33768.58955022837|2855.8838302026406|            null|0.05918984148266887|null|
|    min|APPLE iPhone 11 (...|https://www.flipk...|Apple|            29999|             39900|                  0|              542|                42|MOBEXRGV7EHHTGUH|                4.5|2 GB|
|    max|Apple iPhone XR (...|https://www.flipk...|Apple|           140900|            149900|                 29|            95909|              8161|MOBFWQ6BYYV3FCU7|                4.7|6 GB|
+-------+--------------------+--------------------+-----+-----------------+------------------+-------------------+-----------------+------------------+----------------+-------------------+----+

**Distinct values for Categorical columns**

In [ ]:
df.select("Product Name").distinct().show()

+--------------------+
|        Product Name|
+--------------------+
|APPLE iPhone 8 (S...|
|APPLE iPhone 11 (...|
|APPLE iPhone 12 P...|
|APPLE iPhone 11 (...|
|APPLE iPhone 12 (...|
|APPLE iPhone 12 (...|
|Apple iPhone XR (...|
|APPLE iPhone 12 M...|
|APPLE iPhone 12 P...|
|APPLE iPhone 12 P...|
|APPLE iPhone 12 (...|
|APPLE iPhone 11 P...|
|APPLE iPhone SE (...|
|Apple iPhone SE (...|
|APPLE iPhone 12 P...|
|APPLE iPhone XS M...|
|APPLE iPhone 12 M...|
|APPLE iPhone 11 P...|
|APPLE iPhone SE (...|
|Apple iPhone XR (...|
+--------------------+
only showing top 20 rows

**Aggregate with Groupby**

In [ ]:
from pyspark.sql import functions as F
df.groupBy("Product Name").agg(F.sum("Sale Price")).show()

+--------------------+---------------+
|        Product Name|sum(Sale Price)|
+--------------------+---------------+
|APPLE iPhone 8 (S...|          77000|
|APPLE iPhone 11 (...|          46999|
|APPLE iPhone 12 P...|         120900|
|APPLE iPhone 11 (...|          54999|
|APPLE iPhone 12 (...|          70900|
|APPLE iPhone 12 (...|          70900|
|Apple iPhone XR (...|          41999|
|APPLE iPhone 12 M...|          64900|
|APPLE iPhone 12 P...|         130900|
|APPLE iPhone 12 P...|         120900|
|APPLE iPhone 12 (...|          75900|
|APPLE iPhone 11 P...|         117100|
|APPLE iPhone SE (...|          34999|
|Apple iPhone SE (...|          44999|
|APPLE iPhone 12 P...|         130900|
|APPLE iPhone XS M...|          89900|
|APPLE iPhone 12 M...|          59900|
|APPLE iPhone 11 P...|         117900|
|APPLE iPhone SE (...|          34999|
|Apple iPhone XR (...|          41999|
+--------------------+---------------+
only showing top 20 rows

**Counting and Removing Null values**

In [ ]:
df.select([F.count(F.when(F.isnull(c), c)).alias(c) for c in df.columns]).show()

+------------+-----------+-----+----------+---+-------------------+-----------------+-----------------+---+-----------+---+
|Product Name|Product URL|Brand|Sale Price|Mrp|Discount Percentage|Number Of Ratings|Number Of Reviews|Upc|Star Rating|Ram|
+------------+-----------+-----+----------+---+-------------------+-----------------+-----------------+---+-----------+---+
|           0|          0|    0|         0|  0|                  0|                0|                0|  0|          0|  0|
+------------+-----------+-----+----------+---+-------------------+-----------------+-----------------+---+-----------+---+

# Continue...